name: Build Android APK

on:
  push:
    branches: [ "**" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        # We install Flet here. This provides the correct CLI.
        pip install flet flet-audio-recorder numpy ai-edge-litert

    

    - name: Build APK
      # The pip-installed 'flet' will automatically download the Android SDKs it needs.
      run: flet build apk --include-packages ai_edge_litert --verbose

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: build/apk/app-release.apk